html {
    color: #555;;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

body {
    background-color: #556270;
    text-align: center;
}

header {
    box-shadow: 0 5px 5px rgba(0, 0, 0, .17);
    margin-bottom: 2rem;
    padding: 1rem;
}

header, .widget {
    background-color: #e5e5e5;
}

header h1 {
    font-size: 1.5rem;
    margin: 0;
}

main {
    margin: 0 auto;
    width: 60rem;
}

.widget {
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .17);
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 1rem;
}

.widget h1 {
    margin: 0;
    text-shadow: 1px 1px #fff;
}

.widget h1, .widget svg {
    margin-bottom: 1rem;
}

.current-temperature {
    width: 20rem;
}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
